aiobotocore==2.21.0 ; python_version >= "3.13"
aiohappyeyeballs==2.4.6 ; python_version >= "3.13"
aiohttp==3.11.13 ; python_version >= "3.13"
aioitertools==0.12.0 ; python_version >= "3.13"
aiosignal==1.3.2 ; python_version >= "3.13"
anyio==4.8.0 ; python_version >= "3.13"
asdf-astropy==0.7.1 ; python_version >= "3.13"
asdf-coordinates-schemas==0.3.0 ; python_version >= "3.13"
asdf-standard==1.1.1 ; python_version >= "3.13"
asdf-transform-schemas==0.5.0 ; python_version >= "3.13"
asdf-wcs-schemas==0.4.0 ; python_version >= "3.13"
asdf==4.1.0 ; python_version >= "3.13"
astrocut==0.12.0 ; python_version >= "3.13"
astropy-iers-data==0.2025.3.3.0.34.45 ; python_version >= "3.13"
astropy==7.0.1 ; python_version >= "3.13"
astroquery==0.4.9.post1 ; python_version >= "3.13"
asttokens==3.0.0 ; python_version >= "3.13"
attrs==25.1.0 ; python_version >= "3.13"
autograd==1.7.0 ; python_version >= "3.13"
backoff==1.11.1 ; python_version >= "3.13"
bcrypt==4.3.0 ; python_version >= "3.13"
beautifulsoup4==4.13.3 ; python_version >= "3.13"
bokeh==3.6.3 ; python_version >= "3.13"
boto3==1.37.1 ; python_version >= "3.13"
botocore==1.37.1 ; python_version >= "3.13"
cachetools==5.5.2 ; python_version >= "3.13"
certifi==2025.1.31 ; python_version >= "3.13"
cffi==1.17.1 ; python_version >= "3.13"
charset-normalizer==3.4.1 ; python_version >= "3.13"
click==8.1.8 ; python_version >= "3.13"
cloudpickle==3.1.1 ; python_version >= "3.13"
coiled==1.82.0 ; python_version >= "3.13"
colorama==0.4.6 ; platform_system == "Windows" and python_version >= "3.13" or sys_platform == "win32" and python_version >= "3.13"
comm==0.2.2 ; python_version >= "3.13"
contourpy==1.3.1 ; python_version >= "3.13"
cryptography==44.0.2 ; python_version >= "3.13"
cycler==0.12.1 ; python_version >= "3.13"
dask-cloudprovider==2024.9.1 ; python_version >= "3.13"
dask==2025.2.0 ; python_version >= "3.13"
decorator==5.2.1 ; python_version >= "3.13"
deprecated==1.2.18 ; python_version >= "3.13"
distributed==2025.2.0 ; python_version >= "3.13"
dotenv==0.9.9 ; python_version >= "3.13"
executing==2.2.0 ; python_version >= "3.13"
fabric==3.2.2 ; python_version >= "3.13"
fbpca==1.0 ; python_version >= "3.13"
filelock==3.17.0 ; python_version >= "3.13"
fonttools==4.56.0 ; python_version >= "3.13"
frozenlist==1.5.0 ; python_version >= "3.13"
fsspec==2025.2.0 ; python_version >= "3.13"
gilknocker==0.4.1 ; python_version >= "3.13"
gwcs==0.24.0 ; python_version >= "3.13"
h11==0.14.0 ; python_version >= "3.13"
h2==4.2.0 ; python_version >= "3.13"
hpack==4.1.0 ; python_version >= "3.13"
html5lib==1.1 ; python_version >= "3.13"
httpcore==1.0.7 ; python_version >= "3.13"
httpx==0.28.1 ; python_version >= "3.13"
hyperframe==6.1.0 ; python_version >= "3.13"
idna==3.10 ; python_version >= "3.13"
importlib-metadata==8.6.1 ; python_version >= "3.13"
invoke==2.2.0 ; python_version >= "3.13"
ipython-pygments-lexers==1.1.1 ; python_version >= "3.13"
ipython==9.0.1 ; python_version >= "3.13"
ipywidgets==8.1.5 ; python_version >= "3.13"
jaraco-classes==3.4.0 ; python_version >= "3.13"
jaraco-context==6.0.1 ; python_version >= "3.13"
jaraco-functools==4.1.0 ; python_version >= "3.13"
jedi==0.19.2 ; python_version >= "3.13"
jeepney==0.9.0 ; python_version >= "3.13" and sys_platform == "linux"
jinja2==3.1.5 ; python_version >= "3.13"
jmespath==1.0.1 ; python_version >= "3.13"
joblib==1.4.2 ; python_version >= "3.13"
jsondiff==2.2.1 ; python_version >= "3.13"
jsonpickle==4.0.2 ; python_version >= "3.13"
jupyterlab-widgets==3.0.13 ; python_version >= "3.13"
keyring==25.6.0 ; python_version >= "3.13"
kiwisolver==1.4.8 ; python_version >= "3.13"
lightkurve==2.5.0 ; python_version >= "3.13"
locket==1.0.0 ; python_version >= "3.13"
lz4==4.4.3 ; python_version >= "3.13"
markdown-it-py==3.0.0 ; python_version >= "3.13"
markupsafe==3.0.2 ; python_version >= "3.13"
matplotlib-inline==0.1.7 ; python_version >= "3.13"
matplotlib==3.10.1 ; python_version >= "3.13"
mdurl==0.1.2 ; python_version >= "3.13"
memoization==0.4.0 ; python_version >= "3.13" and python_version < "4.0"
more-itertools==10.6.0 ; python_version >= "3.13"
msgpack==1.1.0 ; python_version >= "3.13"
multidict==6.1.0 ; python_version >= "3.13"
numpy==2.2.3 ; python_version >= "3.13"
oktopus==0.1.2 ; python_version >= "3.13"
packaging==24.2 ; python_version >= "3.13"
pandas==2.2.3 ; python_version >= "3.13"
paramiko==3.5.1 ; python_version >= "3.13"
parso==0.8.4 ; python_version >= "3.13"
partd==1.4.2 ; python_version >= "3.13"
patsy==1.0.1 ; python_version >= "3.13"
pexpect==4.9.0 ; python_version >= "3.13" and (sys_platform != "win32" and sys_platform != "emscripten")
pillow==11.1.0 ; python_version >= "3.13"
pip-requirements-parser==32.0.1 ; python_version >= "3.13"
pip==25.0.1 ; python_version >= "3.13"
polars==1.24.0 ; python_version >= "3.13"
prometheus-client==0.21.1 ; python_version >= "3.13"
prompt-toolkit==3.0.50 ; python_version >= "3.13"
propcache==0.3.0 ; python_version >= "3.13"
psutil==7.0.0 ; python_version >= "3.13"
ptyprocess==0.7.0 ; python_version >= "3.13" and (sys_platform != "win32" and sys_platform != "emscripten")
pure-eval==0.2.3 ; python_version >= "3.13"
pyarrow==19.0.1 ; python_version >= "3.13"
pycparser==2.22 ; python_version >= "3.13"
pyerfa==2.0.1.5 ; python_version >= "3.13"
pygments==2.19.1 ; python_version >= "3.13"
pynacl==1.5.0 ; python_version >= "3.13"
pyparsing==3.2.1 ; python_version >= "3.13"
python-dateutil==2.9.0.post0 ; python_version >= "3.13"
python-digitalocean==1.17.0 ; python_version >= "3.13"
python-dotenv==1.0.1 ; python_version >= "3.13"
pytz==2025.1 ; python_version >= "3.13"
pyvo==1.6.1 ; python_version >= "3.13"
pywin32-ctypes==0.2.3 ; python_version >= "3.13" and sys_platform == "win32"
pyyaml==6.0.2 ; python_version >= "3.13"
rad==0.23.1 ; python_version >= "3.13"
requests==2.32.3 ; python_version >= "3.13"
rich==13.9.4 ; python_version >= "3.13"
roman-datamodels==0.23.1 ; python_version >= "3.13"
s3fs==2025.2.0 ; python_version >= "3.13"
s3path==0.6.0 ; python_version >= "3.13"
s3transfer==0.11.3 ; python_version >= "3.13"
scikit-learn==1.6.1 ; python_version >= "3.13"
scipy==1.15.2 ; python_version >= "3.13"
secretstorage==3.3.3 ; python_version >= "3.13" and sys_platform == "linux"
semantic-version==2.10.0 ; python_version >= "3.13"
setuptools==75.8.2 ; python_version >= "3.13"
six==1.17.0 ; python_version >= "3.13"
smart-open==5.1.0 ; python_version >= "3.13"
sniffio==1.3.1 ; python_version >= "3.13"
sortedcontainers==2.4.0 ; python_version >= "3.13"
soupsieve==2.6 ; python_version >= "3.13"
spherical-geometry==1.3.3 ; python_version >= "3.13"
stack-data==0.6.3 ; python_version >= "3.13"
tblib==3.0.0 ; python_version >= "3.13"
threadpoolctl==3.5.0 ; python_version >= "3.13"
toml==0.10.2 ; python_version >= "3.13"
toolz==1.0.0 ; python_version >= "3.13"
tornado==6.4.2 ; python_version >= "3.13"
tqdm==4.67.1 ; python_version >= "3.13"
traitlets==5.14.3 ; python_version >= "3.13"
typing-extensions==4.12.2 ; python_version >= "3.13"
tzdata==2025.1 ; python_version >= "3.13"
uncertainties==3.2.2 ; python_version >= "3.13"
urllib3==2.3.0 ; python_version >= "3.13"
wcwidth==0.2.13 ; python_version >= "3.13"
webencodings==0.5.1 ; python_version >= "3.13"
wheel==0.45.1 ; python_version >= "3.13"
widgetsnbextension==4.0.13 ; python_version >= "3.13"
wrapt==1.17.2 ; python_version >= "3.13"
xyzservices==2025.1.0 ; python_version >= "3.13"
yarl==1.18.3 ; python_version >= "3.13"
zict==3.0.0 ; python_version >= "3.13"
zipp==3.21.0 ; python_version >= "3.13"
